---
import Layout from '@/layouts/Layout.astro';
import { list } from '@/lib/api';

const performances = await list('performances');
---

<Layout title="Performances">
	<h1>Performances</h1>
	<ul>
		{performances.map((performance) => (
			<li>
				<a href={`/performances/${performance.id}`}>{performance.title}</a>
			</li>
		))}
	</ul>
</Layout>
